<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>image</key>
		<string>emotion_weixiao</string>
		<key>text</key>
		<string>[微笑]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_biezui</string>
		<key>text</key>
		<string>[撇嘴]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_se</string>
		<key>text</key>
		<string>[色]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_fadai</string>
		<key>text</key>
		<string>[发呆]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_deyi</string>
		<key>text</key>
		<string>[得意]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_liulei</string>
		<key>text</key>
		<string>[流泪]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_haixiu</string>
		<key>text</key>
		<string>[害羞]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_bizui</string>
		<key>text</key>
		<string>[闭嘴]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_shui</string>
		<key>text</key>
		<string>[睡]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_daku</string>
		<key>text</key>
		<string>[大哭]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_ganga</string>
		<key>text</key>
		<string>[尴尬]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_fanu</string>
		<key>text</key>
		<string>[发怒]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_tiaopi</string>
		<key>text</key>
		<string>[调皮]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_ciya</string>
		<key>text</key>
		<string>[呲牙]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_jingya</string>
		<key>text</key>
		<string>[惊讶]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_nanguo</string>
		<key>text</key>
		<string>[难过]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_ku</string>
		<key>text</key>
		<string>[酷]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_lenghan</string>
		<key>text</key>
		<string>[冷汗]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_zhuakuang</string>
		<key>text</key>
		<string>[抓狂]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_tu</string>
		<key>text</key>
		<string>[吐]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_touxiao</string>
		<key>text</key>
		<string>[偷笑]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_keai</string>
		<key>text</key>
		<string>[可爱]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_baiyan</string>
		<key>text</key>
		<string>[白眼]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_aoman</string>
		<key>text</key>
		<string>[傲慢]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_jie</string>
		<key>text</key>
		<string>[饥饿]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_kun</string>
		<key>text</key>
		<string>[困]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_jingkong</string>
		<key>text</key>
		<string>[惊恐]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_liuhan</string>
		<key>text</key>
		<string>[流汗]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_hanxiao</string>
		<key>text</key>
		<string>[憨笑]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_dabing</string>
		<key>text</key>
		<string>[大兵]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_fendou</string>
		<key>text</key>
		<string>[奋斗]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_zouma</string>
		<key>text</key>
		<string>[咒骂]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_yiwen</string>
		<key>text</key>
		<string>[疑问]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_xu</string>
		<key>text</key>
		<string>[嘘]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_yun</string>
		<key>text</key>
		<string>[晕]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_fakuang</string>
		<key>text</key>
		<string>[折磨]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_shuai</string>
		<key>text</key>
		<string>[衰]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_kulou</string>
		<key>text</key>
		<string>[骷髅]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_qiaoda</string>
		<key>text</key>
		<string>[敲打]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_zaijian</string>
		<key>text</key>
		<string>[再见]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_cahan</string>
		<key>text</key>
		<string>[擦汗]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_koubi</string>
		<key>text</key>
		<string>[抠鼻]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_guzhang</string>
		<key>text</key>
		<string>[鼓掌]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_qiudale</string>
		<key>text</key>
		<string>[糗大了]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_huaixiao</string>
		<key>text</key>
		<string>[坏笑]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_zuohengheng</string>
		<key>text</key>
		<string>[左哼哼]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_youhengheng</string>
		<key>text</key>
		<string>[右哼哼]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_haqian</string>
		<key>text</key>
		<string>[哈欠]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_bishi</string>
		<key>text</key>
		<string>[鄙视]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_weiqu</string>
		<key>text</key>
		<string>[委屈]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_kuaikule</string>
		<key>text</key>
		<string>[快哭了]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_yingxian</string>
		<key>text</key>
		<string>[阴险]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_qinqin</string>
		<key>text</key>
		<string>[亲亲]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_xia</string>
		<key>text</key>
		<string>[吓]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_kelian</string>
		<key>text</key>
		<string>[可怜]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_caidao</string>
		<key>text</key>
		<string>[菜刀]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_xigua</string>
		<key>text</key>
		<string>[西瓜]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_pijiu</string>
		<key>text</key>
		<string>[啤酒]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_lanqiu</string>
		<key>text</key>
		<string>[篮球]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_pingpang</string>
		<key>text</key>
		<string>[乒乓]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_kafei</string>
		<key>text</key>
		<string>[咖啡]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_fan</string>
		<key>text</key>
		<string>[饭]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_zhutou</string>
		<key>text</key>
		<string>[猪头]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_meigui</string>
		<key>text</key>
		<string>[玫瑰]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_diaoxie</string>
		<key>text</key>
		<string>[凋谢]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_shiai</string>
		<key>text</key>
		<string>[示爱]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_aixin</string>
		<key>text</key>
		<string>[爱心]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_xinsui</string>
		<key>text</key>
		<string>[心碎]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_dangao</string>
		<key>text</key>
		<string>[蛋糕]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_shandian</string>
		<key>text</key>
		<string>[闪电]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_zhadan</string>
		<key>text</key>
		<string>[炸弹]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_dao</string>
		<key>text</key>
		<string>[刀]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_zhuqiu</string>
		<key>text</key>
		<string>[足球]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_pachong</string>
		<key>text</key>
		<string>[瓢虫]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_bianbian</string>
		<key>text</key>
		<string>[便便]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_yueliang</string>
		<key>text</key>
		<string>[月亮]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_taiyang</string>
		<key>text</key>
		<string>[太阳]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_liwu</string>
		<key>text</key>
		<string>[礼物]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_baobao</string>
		<key>text</key>
		<string>[拥抱]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_qiang</string>
		<key>text</key>
		<string>[强]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_ruo</string>
		<key>text</key>
		<string>[弱]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_woshou</string>
		<key>text</key>
		<string>[握手]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_shengli</string>
		<key>text</key>
		<string>[胜利]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_baoquan</string>
		<key>text</key>
		<string>[抱拳]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_gouying</string>
		<key>text</key>
		<string>[勾引]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_quantou</string>
		<key>text</key>
		<string>[拳头]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_chajing</string>
		<key>text</key>
		<string>[差劲]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_aini</string>
		<key>text</key>
		<string>[爱你]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_no</string>
		<key>text</key>
		<string>[NO]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_ok</string>
		<key>text</key>
		<string>[OK]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_aiqing</string>
		<key>text</key>
		<string>[爱情]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_feiwen</string>
		<key>text</key>
		<string>[飞吻]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_tiaotiao</string>
		<key>text</key>
		<string>[跳跳]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_fadou</string>
		<key>text</key>
		<string>[发抖]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_ouhuo</string>
		<key>text</key>
		<string>[怄火]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_zhuanquan</string>
		<key>text</key>
		<string>[转圈]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_ketou</string>
		<key>text</key>
		<string>[磕头]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_huitou</string>
		<key>text</key>
		<string>[回头]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_tiaosheng</string>
		<key>text</key>
		<string>[跳绳]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_huishou</string>
		<key>text</key>
		<string>[挥手]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_jidong</string>
		<key>text</key>
		<string>[激动]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_jiewu</string>
		<key>text</key>
		<string>[街舞]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_xianwen</string>
		<key>text</key>
		<string>[献吻]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_zuotaiji</string>
		<key>text</key>
		<string>[左太极]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_youtaiji</string>
		<key>text</key>
		<string>[右太极]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_shuangxi</string>
		<key>text</key>
		<string>[双喜]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_bianpao</string>
		<key>text</key>
		<string>[鞭炮]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_denglong</string>
		<key>text</key>
		<string>[灯笼]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_facai</string>
		<key>text</key>
		<string>[发财]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_kge</string>
		<key>text</key>
		<string>[K歌]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_gouwu</string>
		<key>text</key>
		<string>[购物]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_youjian</string>
		<key>text</key>
		<string>[邮件]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_dashuai</string>
		<key>text</key>
		<string>[帅]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_hecai</string>
		<key>text</key>
		<string>[喝彩]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_qidao</string>
		<key>text</key>
		<string>[祈祷]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_baojing</string>
		<key>text</key>
		<string>[爆筋]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_bangbangtang</string>
		<key>text</key>
		<string>[棒棒糖]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_henai</string>
		<key>text</key>
		<string>[喝奶]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_xiamian</string>
		<key>text</key>
		<string>[下面]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_xiangjiao</string>
		<key>text</key>
		<string>[香蕉]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_qingwa</string>
		<key>text</key>
		<string>[青蛙]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_feiji</string>
		<key>text</key>
		<string>[飞机]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_kaiche</string>
		<key>text</key>
		<string>[开车]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_zuochetou</string>
		<key>text</key>
		<string>[左车头]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_chexiang</string>
		<key>text</key>
		<string>[车厢]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_youchexiang</string>
		<key>text</key>
		<string>[右车头]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_duoyun</string>
		<key>text</key>
		<string>[多云]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_xiayu</string>
		<key>text</key>
		<string>[下雨]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_chaopiao</string>
		<key>text</key>
		<string>[钞票]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_xiongmao</string>
		<key>text</key>
		<string>[熊猫]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_dengpao</string>
		<key>text</key>
		<string>[灯泡]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_fengche</string>
		<key>text</key>
		<string>[风车]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_naozhong</string>
		<key>text</key>
		<string>[闹钟]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_dashan</string>
		<key>text</key>
		<string>[打伞]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_caiqiu</string>
		<key>text</key>
		<string>[彩球]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_zhuanjie</string>
		<key>text</key>
		<string>[钻戒]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_shafa</string>
		<key>text</key>
		<string>[沙发]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_zhijing</string>
		<key>text</key>
		<string>[纸巾]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_yao</string>
		<key>text</key>
		<string>[药]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>emotion_shouqiang</string>
		<key>text</key>
		<string>[手枪]</string>
	</dict>
</array>
</plist>
